.trending {
  &-text {
    font-weight: 700;
    font-size: 16px;
    & + a {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .row {
    scroll-snap-type: x mandatory;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(300px);
  }
  &-cards {
    //   &:last-child {
    //     &:after {
    //       height: 100%;
    //       width: 100%;
    //       padding: 0.1rem;
    //       content: "";
    //       display: block;
    //     }
    //   }
    //   overflow-y: scroll;
    //   @include no-scroll-bar;
    .col-6 {
      max-width: 48%;
      &:not(:last-child) {
        margin-right: auto;
      }
      .col {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      // min-width: 37vw;
    }

    .vertical-col {
      .card-img-top {
        min-height: 315px;
      }
    }
    .horizontal-col {
      .card-img-top {
        min-height: 125px;
      }
    }
    .card {
      height: 100%;

      &-body {
        flex: none;
      }
      &-title {
        font-size: 14px;
        margin-bottom: 5px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
}

.trending-overlay {
  .trending-cards {
    .col-6 {
      margin: 0;
      max-width: 48%;
      margin-bottom: 10px;
      &:nth-child(odd) {
        margin-right: auto;
      }
    }

    .card {
      cursor: pointer;
      border: 0px;
      border-radius: 10px;
      height: 200px;
      &-img-top {
        border-radius: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      &-body {
        height: 100%;
        border-radius: 10px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $white;
        background: rgba(#000, 0.3);
      }
      &-text {
        margin-bottom: 10px;
      }
    }
  }
}

.trending.singular-card {
  .col {
    max-width: 75vw;
    min-width: 75vw;
  }
  .card {
    &-img-top {
      min-height: 178px;
      max-height: 178px;
    }
    .card-title--with-review {
      .text {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
      }
      .rating {
        font-size: 12px;
        padding: 5px;
        background-color: $brand-color-green;
        color: $white;
        display: flex;
        align-items: center;
        i {
          margin-top: -2px;
          vertical-align: top;
          font-size: 10px;
          margin-left: 5px;
        }
      }
    }
  }
}
